In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

import csv
import numpy.random as npr
import datetime as dt
from datetime import timedelta
import scipy.stats as norm
import yfinance as yf
from sqlalchemy import create_engine
import psycopg2
import json

In [3]:
df = yf.download(['AAPL'],start=pd.to_datetime('today') - timedelta(6),interval = '1m')

[*********************100%%**********************]  1 of 1 completed

In [4]:
pd.DataFrame(df,index = [0])

   Open  High  Low  Close  Adj Close  Volume
0   NaN   NaN  NaN    NaN        NaN     NaN

In [5]:
df.keys()

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
df = pd.DataFrame(df).reset_index()

In [7]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2024-02-13 09:30:00-05:00,185.770004,186.210007,185.759995,185.869995,185.869995,3488330
1,2024-02-13 09:31:00-05:00,185.910004,185.940002,185.100006,185.179993,185.179993,395620
2,2024-02-13 09:32:00-05:00,185.184998,185.259995,184.940002,185.059998,185.059998,402286
3,2024-02-13 09:33:00-05:00,185.039993,185.070007,184.630005,184.725006,184.725006,430946
4,2024-02-13 09:34:00-05:00,184.710007,184.839996,184.630005,184.679993,184.679993,229058
...,...,...,...,...,...,...,...
1554,2024-02-16 15:55:00-05:00,181.960007,182.089996,181.945007,182.054993,182.054993,273874
1555,2024-02-16 15:56:00-05:00,182.054993,182.097504,182.014999,182.074997,182.074997,201150
1556,2024-02-16 15:57:00-05:00,182.070007,182.184998,182.060104,182.184998,182.184998,236217
1557,2024-02-16 15:58:00-05:00,182.179993,182.309998,182.130005,182.164993,182.164993,465550
1558,2024-02-16 15:59:00-05:00,182.169998,182.300003,182.119995,182.289993,182.289993,690820

In [8]:
df = df.rename({'Datetime':'time','Open':'open','High':'high','Low':'low','Close':'close','Adj Close':'adjclose','Volume':'volume'}, axis = 1)

In [9]:
df

,time,open,high,low,close,adjclose,volume
0,2024-02-13 09:30:00-05:00,185.770004,186.210007,185.759995,185.869995,185.869995,3488330
1,2024-02-13 09:31:00-05:00,185.910004,185.940002,185.100006,185.179993,185.179993,395620
2,2024-02-13 09:32:00-05:00,185.184998,185.259995,184.940002,185.059998,185.059998,402286
3,2024-02-13 09:33:00-05:00,185.039993,185.070007,184.630005,184.725006,184.725006,430946
4,2024-02-13 09:34:00-05:00,184.710007,184.839996,184.630005,184.679993,184.679993,229058
...,...,...,...,...,...,...,...
1554,2024-02-16 15:55:00-05:00,181.960007,182.089996,181.945007,182.054993,182.054993,273874
1555,2024-02-16 15:56:00-05:00,182.054993,182.097504,182.014999,182.074997,182.074997,201150
1556,2024-02-16 15:57:00-05:00,182.070007,182.184998,182.060104,182.184998,182.184998,236217
1557,2024-02-16 15:58:00-05:00,182.179993,182.309998,182.130005,182.164993,182.164993,465550
1558,2024-02-16 15:59:00-05:00,182.169998,182.300003,182.119995,182.289993,182.289993,690820

In [10]:
df.dtypes

time        datetime64[ns, America/New_York]
open                                 float64
high                                 float64
low                                  float64
close                                float64
adjclose                             float64
volume                                 int64
dtype: object

In [11]:
df = df.astype({'volume':'float'})

In [12]:
df.dtypes

time        datetime64[ns, America/New_York]
open                                 float64
high                                 float64
low                                  float64
close                                float64
adjclose                             float64
volume                               float64
dtype: object

In [13]:
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/intraday")

In [14]:
df.to_sql('aapl_1min',engine)

559